.kontejner{
    display:flex;
    border:1px solid black;
}
.kontForma{
    display:flex;
    flex-direction: column;
    flex-basis:200px;
}
.kontKlubovi{
    display: flex;
    flex-grow:1;
    flex-direction:column;
}
.red{
    display: flex;
    flex-grow:1;
}
.klub{
    border:1px solid black;
    flex:1 1 10px;
    margin:5px;
    text-align: center;
}
.igrac{
    background-color: gray;
    border:1px solid black;
    border-collapse: collapse;
    
}
.klub{
    font-size: 20px;
}
@media (max-width:1000px){
    .red{
        display: flex;
        flex-direction: column;
    }
}